[bumpversion]
current_version = 0.1.1
commit = True
tag = True

[bumpversion:file:pro_football_reference_web_scraper/_version.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
