graft pro-football-reference-web-scraper

include LICENSE
include README.md
include *.py

include .bumpversion.cfg
include pyproject.toml
include Makefile

recursive-include tests *.py

prune .github
exclude .gitignore
exclude .gitattributes
exclude CONTRIBUTING.md

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude .DS_Store